#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 75px;
    margin-bottom: 20px;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;
    border: 2px solid black;
}
body{
    text-align: center;
    background-color: black;
    background-image: url('SS_Sky.png');
}
custom{
    color: black;
}
footer{
    position: fixed;
}